<%= content_for(:header) do %>
  <%= @user.name %>
  <div class="user_options">
  <% if current_user == @user %>
    <%= link_to "Add Property", new_user_property_path(@user), id: "add-property", remote: true %>
  <% end %>
</div>
<% end %>

<ul>
  <div class="all_properties">
    <%= render(@user.properties) %>
  </div>
</ul>
