<div class="rating-form">
  <%= form_for [@rental, @rating], remote: true do |f| %>
      <%= f.hidden_field :rental_id, value: @rental.id %>
      <%= f.number_field :value, :class => "small_field form-control" %>
    <%= f.submit "Rate", :class => "btn btn-fire-sm" %>
  <% end %>
</div>
