body {
  background-color: #FFE1B0;
}

.container {
  margin-top: 10px;
  background-color: #E8D4A0;
  border-radius: 5px;
  color: #2E3D45;
}

.navigation {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4D5E5E;
}

.navigation a{
  color: #192330;
}

.login_links {

}

.errors {
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
}

.other_links {
  float: right;
  text-align: right;
}

.header {
  font-size: 30px;
  font-weight: 600;
  max-width: 50%;
  padding-left: 50px;
}

.main {
  padding-left: 50px;
  margin: 20px;
}

.property_display {
  font-size: 20px;
  padding: 20px;
  max-width: 60%;
  font-family: Georgia;
  margin: 10px;
  border-radius: 5px;
}

.logo {
  font-size: 50px;
  font-family: 'Mrs Sheppards', cursive;
}

.logo a{
  color: #2E3D45;
  text-decoration: none;
}

.btn-fire {
  color: #2E3D45;
}

.form {
  max-width: 50%;
}

.form-small {
  max-width: 20%;
  min-width: 90px;
}

.all_properties {
  list-style: none;
  font-size: 22px;
  max-width: 60%;
  font-family: Georgia;
}

.button_wrapper {
  margin: 10px;
}

.rental-form {
  margin-left: 20px;
  max-width: 200px;
}
