body {
  background-color: #FFE1B0;
}

a:link{
  color: #192330;
}

a:visited{
  color: #192330;
}

a:hover{
  text-decoration: none;
  color: #2E3D45;
}

.container {
  margin-top: 10px;
  background-color: #E8D4A0;
  border-radius: 5px;
  color: #2E3D45;
}

.navigation {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4D5E5E;
}

.login_links {

}

.errors {
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
}

.other_links {
  float: right;
  text-align: right;
}

.header {
  font-size: 30px;
  font-weight: 600;
  padding-left: 50px;
}

.main {
  padding-left: 50px;
  margin: 20px;
}

.property_display {
  font-size: 20px;
  padding: 10px;
  max-width: 60%;
  margin: 10px auto 0px auto;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

.logo {
  font-size: 50px;
  font-family: 'Mrs Sheppards', cursive;
}

.logo a{
  color: #2E3D45;
  text-decoration: none;
}

.btn-fire {
  background-color: #FFE1B0;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.btn-fire-sm {
  background-color: #FFE1B0;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 1px;
}

.form {
  max-width: 50%;
}

.form-small {
  max-width: 20%;
  min-width: 90px;
}

.all_properties {
  list-style: none;
  font-size: 20px;
  max-width: 80%;
}

.all_properties li{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.form {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
}

.button_wrapper {
  margin: 10px;
}

.rental-form {
  margin-left: 20px;
  max-width: 200px;
}

.user_options {
  font-size: 15px;
  font-weight: 400;
  padding-left: 30px;
}

.edit_links {
  font-size: 15px;
  font-style: italic;
}

#i-want-it {
  margin-top: 20px;
  text-align: center;
}

#i-got-it {
  margin-top: 20px;
  text-align: center;
}

.rating-form {
  display: inline-block;
}

.small_field {
  display: inline-block;
  max-width: 60px;
}

.rent_options {
  font-size: 15px;
}

